{% load static %}
<!-- nav, footer-->
<html>

<head>
    <link rel="stylesheet" href="{% static 'join/signup.css' %}">
    <link rel="stylesheet" href="{% static 'join/layout.css' %}">
</head>

<body>
    <div class="sidenav">
    <input type="checkbox" id="menuicon" >
    <label for="menuicon">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <div id="layout-sidebar" class ="sidebar">
        <br>
        <ul class="menu">
            <div class="navbar_logo">
            </div>
            <a href="#home">알바야</a>
            <br>
            
                <a href="#about">SCHEDULE</a>
                <hr>
                <button class="dropdown-btn">COMMUNITY
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                  <a href="#">근무지 1</a>
                  <a href="#">근무지 2</a>
                  <a href="#">근무지 3</a>
                </div>
                <hr>
                <button class="dropdown-btn">MATE
                    <i class="fa fa-caret-down"></i>
                  </button>
                <div class="dropdown-container">
                    <a href="#">강규빈</a>
                    <a href="#">최윤정</a>
                    <a href="#">윤다혜</a>
                  </div>
              </div>
        <ul class="navbar_icons">
            <img src="{% static 'join/img/ic_instagram.png' %}" alt="">
            <img src="{% static 'join/img/ic_twitter.png' %}" alt="">
            <img src="{% static 'join/img/ic_facebook.png' %}" alt="">
        </ul>
    </div>

    <div class="main">
    {% block join %}
    {% endblock %}
    </div>
    <footer style="margin-left:25%;padding:1px 16px;height: 100px;">
        <p>
            <span>저자 : leadme</span><br />
            <span>이메일 : albaya@gmail.com</span><br />
            <span>&copy;Copyright 2020. cocoder. All Rights Reserved.</span>
        </p>
    </footer>
    <script src="{% static 'join/js/layout.js' %}"></script>
</body>

</html>