{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--css-->
    <link rel="stylesheet" type="text/css" href="{% static 'join/css/layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'join/css/signup.css' %}">

    <!--js-->

    <!--title-->
    <title>알바야?</title>
</head>

<body>
    <div class="sidenav">
        <input type="checkbox" id="menuicon">
        <label for="menuicon">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <div id="layout-sidebar" class="sidebar">
            <br>
            <ul class="menu">
                <div class="navbar_logo">
                </div>
                <a href="#home">알바야</a>
                <br>

                <a href="#about">SCHEDULE</a>
                <hr>
                <button class="dropdown-btn">COMMUNITY
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a href="#">근무지 1</a>
                    <a href="#">근무지 2</a>
                    <a href="#">근무지 3</a>
                </div>
                <hr>
                <button class="dropdown-btn">MATE
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a href="#">강규빈</a>
                    <a href="#">최윤정</a>
                    <a href="#">윤다혜</a>
                </div>

                <ul class="navbar_icons">
                    <img src="{% static 'join/img/ic_instagram.png' %}" alt="">
                    <img src="{% static 'join/img/ic_twitter.png' %}" alt="">
                    <img src="{% static 'join/img/ic_facebook.png' %}" alt="">
        </div>
        </ul>
    </div>

    <br>
    </header>

    <div class="main">
        <!--join-->
        {% block join %}
        {% endblock %}

        <!--store-->
        {% block store %}
        {% endblock %}
    </div>

    <footer id="footer" >
        이메일 : albaya@gmail.com
        <br>
        Copyright &copy; 2022. teamAlbaya. All Rights Reserved.
    </footer>

    <!-- script -->
    <script src="{% static 'join/js/layout.js' %}"></script>
</body>

</html>