{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--css-->
    <link rel="stylesheet" type="text/css" href="{% static 'join/css/signup.css' %}">

    <!--js-->

    <!--title-->
    <title>알바야?</title>
</head>

<body>
    <div class="main-title">
        <img src="{% static 'join/img/albaya-logo.png' %}">
        <p>
            알바야는 아르바이트생과 점주를 위한 스케줄러 서비스로
            <br>
            개인의 스케줄과 알바 지점의 스케줄을 등록하고 공유하는 서비스 입니다.
            <br>
            알바야를 통해 지금까지 복잡했던 아르바이트 스케줄을 한번에 관리해보세요.
        </p>
    </div>

    <div class="index-hr">
        <hr>
    </div>

    <div class="signup">
        <form method="POST">
            {% csrf_token %}
            <div class="signup">
                <div class="title">회원가입</div>
                <!-- username -->
                <div class="signup-username">
                    <span>USERNAME</span>
                </div>
                <input type="text" class="username input" id="username" name="username" placeholder="Enter username" />

                <!-- email -->
                <div class="signup-email">
                    <span>EMAIL</span>
                </div>
                <input type="text" class="email input" id="email" name="email" placeholder="Enter email" />
                
                <!-- password -->
                <div class="signup-password">
                    <span>PASSWORD</span>
                </div>
                <input type="password" class="password input" id="password" name="password" placeholder="Enter password" />
                
                <!-- phone_number -->
                <div class="signup-phone-number">
                    <span>PHONE NUMBER</span>
                </div>
                <input type="text" class="phone_number input" id="phone_number" name="phone_number" placeholder="Enter phone-number" />

                <!-- button -->
            <button class="signup-button" type="submit">회원가입</button>
        </form>
    </div>
</body>

</html>