@font-face {
    font-family: 'GimpoGothicBold00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/GimpoGothicBold00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GimpoGothicBold00';
}

/* 전체영역에서 여백을 없애줌 */

* {
    margin: 0;
    padding: 0;
}

  /* Style the sidenav links and the dropdown button */
  .menu a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration:  none;
    font-size: 20px;
    color: #222;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  
  /* Main content */
  .main {
    /*margin-left: 200px;*/ /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: green;
    color: black;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .submenu {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .submenu {padding-top: 15px;}
    .submenu {font-size: 18px;}
  }
  
/* 이 전까지 */
.navbar_icons {
    margin-bottom: 25%;
    padding: 1px 16px;
    height: 100px;
}

input[id="menuicon"] {
    display: none;
}

input[id="menuicon"]+label {
    display: block;
    width: 60px;
    height: 40px;
    position: relative;
    cursor: pointer;
}

input[id="menuicon"]+label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: #222;
    transition: all .35s;
}

#layout-sidebar {
    background: #F1F1F1;
}

input[id="menuicon"]+label span:nth-child(1) {
    top: 0;
}

input[id="menuicon"]+label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

input[id="menuicon"]+label span:nth-child(3) {
    bottom: 0;
}

input[id="menuicon"]:checked+label {
    z-index: 2;
}

input[id="menuicon"]:checked+label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked+label span:nth-child(2) {
    opacity: 0;
}

input[id="menuicon"]:checked+label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
    width: 300px;
    height: 100%;
    background: #222;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 1;
    transition: all .35s;
}

input[id="menuicon"]:checked+label+div {
    left: 0;
}

input[id="menuicon"]+label {
    display: block;
    width: 60px;
    height: 50px;
    position: fixed;
    left: 0;
    top: calc(50% -35px);
    transition: all .35s;
    cursor: pointer;
}

input[id="menuicon"]:checked+label {
    z-index: 2;
    left: 300px;
}

.navbar_icons {
    margin-top: 700px;
}

.navbar_icons img {
    width: 30px;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #222;
}


/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* footer */

footer{
    text-align: right;
    font-size: 5px;
    
    margin: 20px 20px;
}