@font-face {
    font-family: 'GimpoGothicBold00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/GimpoGothicBold00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GimpoGothicBold00';

    display: grid;
    grid-template-columns: 55% 5% 40%;

    width: 1400px;
    height: 700px;

    margin: auto auto;
}

/* 알바야 로고 및 설명 */
.main-title{
    margin: auto auto;
}

.main-title img{
    width: 500px;
}

.main-title p{
    padding: 5px 50px;
}

/* 가운데 선 */
.index-hr hr{
    width: 0.1px;
    height: 70%;

    margin: 100px auto;
}

/* 회원가입 Form */
.signup{
    margin: auto 50px;
}

.signup .title{
    font-size: 20px;
    margin: auto auto 30px;
}

.signup span{
    font-size: 10px;
}

.signup input{
    width: 300px;
    height: 30px;
    text-align: center;
}

.signup button{
    width: 308px;
    height: 30px;

    margin: 20px auto;
}