.albaya_store{
    display: grid;
    grid-template-columns: 50px auto 50px;
}

.ym-wrapper{
    width: 1400px;
    text-align : right;
}

.ym-wrapper span{
    font-size: 30px;
}

/* 캘린더 구현 */

.calendar_main{
    border-collapse: collapse;
}

.days {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
}

.day {
    width: calc(1400px / 7);
    text-align: center;
    transition: all .3s;

    padding: 10px 0;
}

.day hr{
    border: 1px solid #333333;
    margin: 0 2px;
}

.dates {
    width: 1400px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
    border: 1px solid #333333;
}

.date {
    cursor: pointer;
    text-align: left;
    border: 1px solid #333333;
    transition: all .3s;
    
    padding: 0 5% 40%;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #396EE2;
}

/* 캘린더 구현 css 끝 */

/*공지사항 / 건의사항 목록 grid 설정*/
.not-sug-list{
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: auto;

    margin: 30px auto;
}

/* 공지사항 */
.notice header{
    padding: 20px;
}

.notice header div{
    display: grid;
    grid-template-columns: 90% 10%;
}

.notice header h1{
    margin: auto 20px;
}

.notice header div a{
    margin: auto 0;
    text-align: right;
}

.notice_list a{
    display: block;

    padding: 10px 80px;
}

/* 가운데 구분선 */
.store_hr, .vertical_hr{
    width: 0.1px;
    margin: 0 auto;
}

.store_hr hr{
    height: 100%;
}

/* 건의사항 */
.suggest header{
    padding: 20px;
}

.suggest header div{
    display: grid;
    grid-template-columns: 90% 10%;
}

.suggest header h1{
    margin: auto 20px;
}

.suggest header div a{
    margin: auto 0;
    text-align: right;
}

.suggest_list a{
    display: block;

    padding: 10px 80px;
}