.albaya_store{
    display: grid;
    grid-template-columns: 50px auto 50px;
}

.ym-wrapper{
    width: 1400px;
    text-align : right;
}

.ym-wrapper span{
    font-size: 30px;
}

/* 캘린더 구현 */

.calendar_main{
    border-collapse: collapse;
}

.days {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
}

.day {
    width: calc(1400px / 7);
    text-align: center;
    transition: all .3s;
}

.dates {
    width: 1400px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
    border: 1px solid #333333;
}

.date {
    cursor: pointer;
    padding: 10% 5%;
    text-align: center;
    border: 1px solid #333333;
    transition: all .3s;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #396EE2;
}

/* 캘린더 구현 css 끝 */

/* 공지사항 */
