{% extends 'join/layout.html' %}
{% load static %}
{% block store %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/store.css' %}">
</head>

<div class="albaya_store">
    <!--display:grid 설정을 위한 div-->
    <div></div>

    <!--날짜-->
    <!-- <div>
    <div class="calendar_nav">
        <button class="nav-btn go-prev">&lt;</button>
        <button class="nav-btn go-today">{{ year }}.{{ month }}</button>
        <button class="nav-btn go-next">&gt;</button>
    </div>
</div> -->

    <!--실제로 콘텐츠가 들어와 있는 div-->
    <!--캘린더-->
    <div>
        <div class="ym-wrapper">
            <span class="year"></span>.<span class="month"></span>
        </div>
        <div class="calendar_main">
            <div class="days">
                <div class="day">
                    SUN
                    <hr>
                </div>
                <div class="day">
                    MON
                    <hr> 
                </div>
                <div class="day">
                    TUE
                    <hr>
                </div>
                <div class="day">
                    WED
                    <hr>
                </div>
                <div class="day">
                    THU
                    <hr>
                </div>
                <div class="day">
                    FRI
                    <hr>
                </div>
                <div class="day">
                    SAT
                    <hr>
                </div>
            </div>
            <div class="dates"></div>
        </div>

        <!-- 공지+건의 -->
        <div class="not-sug-list">
            <!--공지사항-->
            <div class="notice">
                <header>
                    <div>
                        <div class="noti-board-title">
                            <h1>공지사항</h1>
                        </div>
                        <div class="noti-board-title">
                            <a href="{% url 'notice' %}">+</a>
                        </div>
                    </div>
                </header>
                <div class="notice_list">
                    {% for notices in notices.all %}
                    <a href="{% url 'notice_detail' notices.id %}">{{ notices.title }}</a>
                    {% endfor %}
                    <a href="{% url 'notice' %}">더보기</a>
                </div>
            </div>

            <!-- 구분선 -->
            <div class="store_hr vertical_hr">
                <hr>
            </div>

            <!--건의사항-->
            <div class="suggest">
                <header>
                    <div>
                        <div class="sug-board-title">
                            <h1>건의사항</h1>
                        </div>
                        <div>
                            <a href="{% url 'suggest' %}">+</a>
                        </div>
                    </div>
                </header>
                <div class="suggest_list">
                    {% for suggestions in suggestions.all %}
                    <a href="{% url 'suggest_detail' notices.id %}">{{ suggestions.title }}</a>
                    {% endfor %}
                    <a href="{% url 'suggest' %}">더보기</a>
                </div>
            </div>
        </div>
    </div>

    <!--display:grid 설정을 위한 div-->
    <div></div>

    <script src="{% static 'store/js/calender.js' %}"></script>
    <script src="{% static 'store/js/reserve.js' %}"></script>
</div>
{% endblock %}